/* CSS for Raptors Web Site */

/* This rule will style the main page body */
body { 
    background-color:#5CDB95;
    color:#05386B;
    font-family:"comic sans ms", Helvetica, Arial;
    font-size: 0.9em;
    }
 /* headlines */
 h1,h2,h3 {
    background-color:#5CDB95;
    color: #EDF5E1;
    font-style: oblique; 
    font-variant:small-caps;
    }
